.backgroundColor {
    background:darkgray
}

.fontColor {
    color: darkblue;
}

body {
    padding-top: 5rem;   
    font-family: 'Catamaran', 'Metrophobic', sans-serif;
    font-size: 16px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 768px) {
    
    /* Remove header columns for mobile */
    #thead-employees > tr > :nth-child(5)
    , #thead-employees > tr > :nth-child(7)
    , #thead-employees > tr > :nth-child(8) { 
        display: none;
    }
    
    /* Remove body columns for mobile */
    #tbody-employees > tr > :nth-child(5)
    , #tbody-employees > tr > :nth-child(7)
    , #tbody-employees > tr > :nth-child(8) { 
        display: none;
    }
}
.container-login {
    margin-top: 40px;
}

.form {
    margin-top: 30px;
    display: inline-block;
}

#form-employee {
    margin-top: 0 !important;
}

.form-inline {
    display: inline-block;
}

.input-group {
    margin-bottom: 10px !important;
}

.form-group {
    margin-bottom: 10px !important;
}

.form-check-inline {
    margin: 5px 15px;
}

label {
    width: 180px;
    justify-content: left !important;
}

#form-employee label {
    width: 120px;
    justify-content: left !important;
}

.form-login .input-group {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.form-login label {
    width: 100px;
}

#label-csv, #floatingSelect-label {
    width: inherit;
}

/* #form-login label {
    text-align: inherit;
    justify-content: left !important;
} */

#floatingSelect {
    min-width: inherit;
}

.label-checkbox {
    width: 180px !important;
}

input[type=text] {
    width: 280px;

}

.input-group select {
    min-width: 285px;
}

fieldset {
    padding: 10px;
    border-radius: 10px;
}

legend {
    padding-top: 5px;
    border-radius: 5px;
    border: 5px;
    margin-bottom: 20px;
    text-align: center;
    height: 50px;
    vertical-align: middle !important;
}

.btn-login {
    margin-top: 0;
    margin-left: 10px;
}

/* name column */
#tbody-employees > tr > :nth-child(3){ 
    text-align: left;
}

#div-employees {
    max-height: 80vh;
    width: 100%;
    height: 80vh;
    margin: 0;
    overflow-y: auto;
    text-align: center;
}


.container-crud {
    margin: 10px 0 0 10px;
}

.btn-crud {
    min-width: 100px;
}

.btn-crud img {
    color: white;
}

#edit-employee-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

#edit-employee-modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 10%;
}
