.backgroundColor {
    background:darkgray
}

.fontColor {
    color: darkblue;
}

body {
    padding-top: 5rem;   
    font-family: 'Catamaran', 'Metrophobic', sans-serif;
    font-size: 16px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container-login {
    margin-top: 40px;
}

.form {
    margin-top: 30px;
    display: inline-block;
}

.form .form-group {
    margin-bottom: 10px !important;
}

.form .form-check-inline {
    margin: 5px 15px;
}

.form label {
    width: 85px;
    justify-content: left !important;
}

.form .label-checkbox {
    width: 80px !important;
}

.form input[type=text] {
    width: 200px;
}

.form fieldset {
    padding: 20px;
    border-radius: 10px;
}

.form legend {
    padding-left: 10px;
    border-radius: 10px;
    border: 5px;
}

.btn-login {
    margin-top: 25px;
    margin-left: 10px;
}

/* name column */
#tbody-employees > tr > :nth-child(3){ 
    text-align: left;
}

#div-employees {
    max-height: 380px;
    width: 100%;
    margin: 0;
    overflow-y: auto;
    text-align: center;
}

.container-crud {
    margin: 10px 0 0 10px;
}

.btn-crud {
    min-width: 100px;
}

.btn-crud img {
    color: white;
}

/* .modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
} */